.lamp {
  position: absolute;
  bottom: -50%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  z-index: -10;
}

.lava {
  filter: url("#goo");
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blob {
  border-radius: 50%;
  filter: blur(20px);
  position: relative;

  // background: linear-gradient(142deg, rgba(25, 135, 84, 1) 10%,  rgba(103, 103, 103, 1) 30%, rgba(25, 135, 84, 1) 80% ,rgba(25, 135, 84, 1) 100%);
  background: $radialgreen;
  opacity: 100%;
  /* Other sample colors:
    Orange: #e8630a
    Pink: #EA3281
    Fuscia: #E71669
    Purple: #661BAC
    Yellow: #FDC600
    Kermit green: #75AC25
    Light blue: #3283B5
    Dark blue: #0A5D9A
    Gunmetal: #232F37
    BGLight: #1B2735
    BGDark: #090a0f
    Want more colors? check out https://coolors.co/ for inspiration.
    */
  position: absolute;
}

.blob:nth-child(1) {
  // background: blue;
  width: 55px;
  height: 55px;
  bottom: 10%;
  left: 45%;
  z-index: -1;

  animation: wobble 10s ease-in-out alternate infinite,
    blob-one ease-in-out 120s infinite;
}

.blob:nth-child(2) {
  // background: yellow;
  width: 55px;
  height: 55px;
  bottom: -10%;
  left: 40%;
  z-index: -6;

  animation: wobble 8s ease-in-out alternate infinite,
    blob-two ease-in-out 40s infinite;
}

.blob:nth-child(3) {
  // background: pink;
  width: 150px;
  height: 150px;
  bottom: -10%;
  left: 38%;
  z-index: -5;

  animation: wobble 7s ease-in-out alternate infinite,
    blob-three ease-in-out 50s infinite;
}

.blob:nth-child(4) {
  // background: purple;
  width: 185px;
  height: 200px;
  bottom: -10%;
  left: 42%;
  z-index: -4;

  animation: wobble 9s ease-in-out alternate infinite,
    blob-four ease-in-out 45s infinite;
}

.blob:nth-child(5) {
  // background: cyan;
  width: 200px;
  height: 200px;
  left: 39%;
  bottom: -10%;
  z-index: -3;

  animation: wobble 9s ease-in-out alternate infinite,
    blob-five ease-in-out 125s infinite;
}

.blob:nth-child(6) {
  // background: orange;
  width: 235px;
  height: 235px;
  bottom: -10%;
  left: 41%;
  z-index: -2;

  animation: wobble 9s ease-in-out alternate infinite,
    blob-six ease-in-out 165s infinite;
}

.blob:nth-child(7) {
  // background: red;
  width: 500px;
  height: 400px;
  bottom: -35%;
  left: 30%;
  z-index: -1;

  animation: wobble 5s ease-in-out alternate infinite,
    blob-seven ease-in-out 185s infinite;
}

@keyframes blob-one {
  0%,
  100% {
    transform: translatey(20%);
  }

  50% {
    transform: translatey(-660%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-440%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-240%);
  }
}

@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-275%);
  }
}

@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-330%);
  }
}

@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-275%);
  }
}

@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-10%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 48% 65% 50% 55% / 55% 55% 50% 50%;
  }

  100% {
    border-radius: 55% 58% 52% 56% / 50% 64% 50% 51%;
  }
}
