.lamp {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  z-index: -1;
}

.lava {
  filter: url('#goo');
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blob {
  border-radius: 50%;
  filter: blur(4px);

  // background: linear-gradient(142deg, rgba(25, 135, 84, 1) 10%,  rgba(103, 103, 103, 1) 30%, rgba(25, 135, 84, 1) 80% ,rgba(25, 135, 84, 1) 100%);
  //   background: $lightgreen;
  opacity: 100%;
  /* Other sample colors:
    Orange: #e8630a
    Pink: #EA3281
    Fuscia: #E71669
    Purple: #661BAC
    Yellow: #FDC600
    Kermit green: #75AC25
    Light blue: #3283B5
    Dark blue: #0A5D9A
    Gunmetal: #232F37
    BGLight: #1B2735
    BGDark: #090a0f
    Want more colors? check out https://coolors.co/ for inspiration.
    */
  position: absolute;
}

.blob:nth-child(1) {
  background: green;
  width: 180px;
  height: 200px;
  left: 43%;
  bottom: -5%;

  animation: wobble 9s ease-in-out alternate infinite, blob-one ease-in-out 33s infinite;
}

.blob:nth-child(2) {
  background: purple;
  width: 185px;
  height: 200px;
  left: 41%;
  bottom: -45%;

  animation: wobble 9s ease-in-out alternate infinite, blob-two ease-in-out 10s infinite;
}

.blob:nth-child(3) {
  background: pink;
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 35%;

  animation: wobble 7s ease-in-out alternate infinite, blob-three ease-in-out 30s infinite;
}

.blob:nth-child(4) {
  background: orange;
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 43%;

  animation: wobble 9s ease-in-out alternate infinite, blob-four ease-in-out 80s infinite;
}

// .blob:nth-child(4) {
//   width: 235px;
//   height: 235px;
//   bottom: -25%;
//   left: 38%;
//   animation: wobble 11s ease-in-out alternate infinite, blob-four ease-in-out 35s infinite;
// }

.blob:nth-child(5) {
  background: yellow;
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 45%;

  animation: wobble 8s ease-in-out alternate infinite, blob-five ease-in-out 55s infinite;
}

.blob:nth-child(6) {
  background: blue;
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 39%;

  animation: wobble 10s ease-in-out alternate infinite, blob-six ease-in-out 24s infinite;
}

.blob:nth-child(7) {
  background: red;
  width: 500px;
  height: 500px;
  bottom: -35%;
  right: 40%;

  animation: wobble 30s ease-in-out alternate infinite, blob-seven ease-in-out 160s infinite;
}

@keyframes blob-one {
  0%,
  100% {
    transform: translatey(20%);
  }

  50% {
    transform: translatey(-300%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-220%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-305%);
  }
}

@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-260%);
  }
}

@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-2000%);
  }
}

@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-340%);
  }
}

@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-20%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 48% 65% 50% 55% / 55% 55% 50% 50%;
  }

  100% {
    border-radius: 55% 58% 52% 56% / 50% 64% 50% 51%;
  }
}
