.lamp {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    height: 100vh;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    z-index: -1;
}

.lava {
    filter: url("#goo");
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.blob {

    border-radius: 50%;

    // background: linear-gradient(142deg, rgba(25, 135, 84, 1) 10%,  rgba(103, 103, 103, 1) 30%, rgba(25, 135, 84, 1) 80% ,rgba(25, 135, 84, 1) 100%);
    background: $lightgreen;
    opacity: 100%;
    /* Other sample colors:
    Orange: #e8630a
    Pink: #EA3281
    Fuscia: #E71669
    Purple: #661BAC
    Yellow: #FDC600
    Kermit green: #75AC25
    Light blue: #3283B5
    Dark blue: #0A5D9A
    Gunmetal: #232F37
    BGLight: #1B2735
    BGDark: #090a0f
    Want more colors? check out https://coolors.co/ for inspiration.
    */
    position: absolute;
}





.blob:nth-child(1) {
    width: 200px;
    height: 200px;
    left: 35%;
    bottom: -5%;

    animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 23s infinite;
}

.blob:nth-child(2) {
    width: 185px;
    height: 200px;
    right: 30%;
    bottom: -45%;

    animation: wobble 9s ease-in-out alternate infinite, blob-two ease-in-out 28s infinite;



}

.blob:nth-child(3) {
    width: 150px;
    height: 150px;
    bottom: -15%;
    left: 34%;

    animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
}

.blob:nth-child(4) {
    width: 235px;
    height: 235px;
    bottom: -19%;
    left: 30%;

    animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 22s infinite;
}

.blob:nth-child(4) {
    width: 235px;
    height: 235px;
    bottom: -25%;
    left: 30%;
    animation: wobble 6s ease-in-out alternate infinite, blob-four ease-in-out 25s infinite;
}

.blob:nth-child(5) {
    width: 55px;
    height: 55px;
    bottom: -25%;
    left: 34%;

    animation: wobble 8s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
}

.blob:nth-child(6) {
    width: 35px;
    height: 35px;
    bottom: -25%;
    right: 34%;

    animation: wobble 8s ease-in-out alternate infinite, blob-six ease-in-out 12s infinite;
}

.blob:nth-child(7) {
    width: 435px;
    height: 435px;
    bottom: -45%;
    right: 40%;

    animation: wobble 13s ease-in-out alternate infinite, blob-seven ease-in-out 42s infinite;
}

@keyframes blob-one {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-700%);
    }
}

@keyframes blob-two {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-420%);
    }
}

@keyframes blob-three {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-305%);
    }
}

@keyframes blob-four {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-605%);
    }
}

@keyframes blob-five {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-1200%);
    }
}

@keyframes blob-six {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-700%);
    }
}

@keyframes blob-seven {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-300%);
    }
}


@keyframes wobble {
    50% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }

    100% {
        border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
}