$green: rgb(25, 135, 84);
$grey: rgb(103, 103, 103);
$lineargreen: linear-gradient(142deg, rgba(103, 103, 103, 1) 40%, rgba(25, 135, 84, 1) 100%, rgba(11, 201, 239, 1) 100%, rgba(0, 212, 255, 1) 100%);