$green: rgb(25, 135, 84);
$lightgreen: rgb(66, 222, 116);
$grey: rgb(103, 103, 103);

$radialgreen: radial-gradient(
  at 50% 50%,
  $lightgreen 1%,
  rgb(135, 210, 125) 99%
);
$raleway: "Raleway", sans-serif;
$ubuntu: "ubuntu", sans-serif;
