// ---imports---
@import 'variables';
@import 'lava-lamp';
@import 'svg';
// @import 'bootstrap';

html {
   scroll-behavior: smooth;
}

.body-wrapper {
   font-family: $ubuntu;
   margin: 0;
   overflow-x: hidden;
   text-align: center;
}

.background {
   background-image: repeating-linear-gradient(45deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(180deg, rgba(17, 17, 17, 0.900) 90%, rgba(25, 135, 85, 0.900) 100%);
   position: fixed !important;
   height: 100%;
   width: 100%;
   z-index: -1;
}

// ---nav---
#navbar {
   font-size: 1.5rem;
}



//---title---
.title {
   border: none;
   border-radius: 0 0 20px 20px;
   text-align: center;
   padding: 0;
   height: 100vh;


   &-header {
      line-height: 1;
      font-size: 4rem;
      margin: 25vh auto 1rem;
      text-shadow: 1px 1px black;

   }

   &-subheader {
      font-family: $raleway;
      line-height: 1.5;
      text-decoration: overline $green;
      color: $green;
      text-shadow: 1px 1px black;
   }

   &-icon {
      color: $green;
      font-size: 2rem;
      padding: 1rem;
      text-shadow:  1px 1px black;
   }


   &-icon:hover {
      color: #ffff;
      opacity: 50%;
      ;
      /* font-size: 2.1rem; */
   }


}



//---about-me---

.about {
   background-color: rgba(211, 211, 211, 0.800);
   font-family: $raleway;
   font-size: 30px;
   height: 150vh;
   padding: 5% 10%;
   width: 100vw;

   &-bio {
      background-color: rgba(255, 255, 255, 0.75); 
      height: auto;
      font-size: 1.2rem;
      margin: 5% 0;
      padding: 0;
      text-align: center;
   }

   &-skills {
      background-color: rgba(255, 255, 255, 0.75);
      font-family: $raleway;
      display: flex;
      height: auto;
      margin: 5% auto;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;
     
      &-cover {
         align-items: center;
         background-color: rgb(255, 255, 255,);
         border-bottom: 1px solid black;
         border-left: 1px solid black;
         display: flex;
         font-family: $raleway;
         justify-content: center;
         padding: 0;
         position: absolute;
         text-decoration:  2px underline;
         transition: 0.3s;
         height: 100%;
         width: 100%;
         

         &-header{
            font-size: 5rem;
            font-weight: 200;
            text-align: center;
            
         }
      }
      &-grid {
         margin: 5px 5px 5px 5px;
         
         
      }

      &-cover:hover {
         opacity: 0%;
         transition: 0.3s;
      }
   
   } 
   &-devskills {
      background-color: rgba(255, 255, 255, 0.75);
      font-family: $raleway;
      display: flex;
      height: auto;
      margin: 5% auto;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;
     
      &-cover {
         align-items: center;
         background-color: rgb(255, 255, 255,);
         border-bottom: 1px solid black;
         border-left: 1px solid black;
         display: flex;
         font-family: $raleway;
         justify-content: center;
         padding: 0;
         position: absolute;
         text-decoration:  2px underline;
         transition: 0.3s;
         height: 100%;
         width: 100%;

         &-header{
            font-size: 3rem;
            font-weight: 200;
           text-align: center;
         }
      }
      &-grid {
      
         margin: 5px 5px 5px 10px;
      }

      &-cover:hover {
         opacity: 0%;
         transition: 0.3s;
      }
   
   } 
      


         &--green {
            text-decoration: underline lightgreen;
         }

         &--orange {
            text-decoration: underline lightsalmon;
         }

      }
   

//---contact---


.contact {
   padding: 10% 0;
   text-align: center;

   &-icon {
      color: $green;
      font-size: 2rem;
      padding: 1rem;
      text-shadow:  1px 1px black;
   }

   &-icon:hover {
      color: #ffff;
      opacity: 50%;
   }
}





// phone view
@media (max-width: 481px) {
   .body-wrapper {
      margin: 0 0;
    
   }

   .about {
    margin: 0 auto; 
    padding: 5%;

     &-skills-grid {
      font-size: 1.5rem;
     }

  }
 }