// ---imports---
@import 'variables';
@import 'small-view';
@import 'lava-lamp';

html {
   scroll-behavior: smooth;
}



.body-wrapper {
   font-family: 'Ubuntu', sans-serif;
   margin: 0 0;
   overflow-x: hidden;
   text-align: center;



}


.background {
   background: linear-gradient(142deg, rgba(103, 103, 103, 1) 40%, rgba(25, 135, 84, 1) 100%, rgba(11, 201, 239, 1) 100%, rgba(0, 212, 255, 1) 100%);
   background-image: repeating-linear-gradient(45deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66));
   position: fixed !important;
   height: 100%;
   width: 100%;
   z-index: -1;

}





// ---nav---
#navbar {
   font-size: 1.5rem;
}

//---title---
.title {
   border: none;
   border-radius: 0 0 20px 20px;
   text-align: center;
   padding: 0;
   margin-bottom: 0%;
   height: 100vh;


   &__header {
      line-height: 1;
      font-size: 4rem;
      margin: 25vh auto 1rem;

   }

   &__sub-header {
      font-family: 'Raleway', sans-serif;
      line-height: 1.5;
      text-decoration: overline $green;
      color: $green;
   }

   &__link-icon {
      color: $green;
      font-size: 2rem;
      padding: 1rem;
   }


   &__link-icon:hover {
      color: $green;
      opacity: 90%;
      text-shadow: 2px 2px black;
      /* font-size: 2.1rem; */
   }


}



//---about-me---

.custom-shape-divider-bottom-1624272282 {
   position: relative;
   bottom: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624272282 svg {
   position: relative;
   display: block;
   width: calc(300% + 1.3px);
   height: 200px;
}

.custom-shape-divider-bottom-1624272282 .shape-fill {
   fill: lightgray;

   opacity: 35%;
}

.about-me-wrapper {
   height: 200vh;
   position: relative;
}

.about-me {
   background-color: lightgray;
   opacity: 35%;
   height: 200vh;
   padding: 5rem;
   position: relative;
   width: 100vw;

   &__bio {
      font-size: 2rem;
      text-align: left;
      opacity: 100%;
   }

   &__skills {
      font-size: 1.5rem;
      opacity: 100%;
      text-align: left;

      &__table {
         text-align: left;

         &--green {
            text-decoration: underline $green;
         }

         &--orange {
            text-decoration: underline orange;
         }

      }
   }
}

.custom-shape-divider-top-1624273175 {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
}

.custom-shape-divider-top-1624273175 svg {
   position: relative;
   display: block;
   width: calc(300% + 1.3px);
   height: 200px;
}

.custom-shape-divider-top-1624273175 .shape-fill {
   fill: lightgray;
   opacity: 35%;
}

//---contact---


.contact {
   border-radius: 20px 20px 0 0;
   padding: 1rem 2rem;
   text-align: center;


}





// phone view