.lamp {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  z-index: -1;
}

.lava {
  filter: url("#goo");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blob {
  border-radius: 50%;
  background: #4bb96e;
  opacity: 100%;
  /* Other sample colors:
    Orange: #e8630a
    Pink: #EA3281
    Fuscia: #E71669
    Purple: #661BAC
    Yellow: #FDC600
    Kermit green: #75AC25
    Light blue: #3283B5
    Dark blue: #0A5D9A
    Gunmetal: #232F37
    BGLight: #1B2735
    BGDark: #090a0f
    Want more colors? check out https://coolors.co/ for inspiration.
    */
  position: absolute;
}

.blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -5%;
  animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 23s infinite;
}

.blob:nth-child(2) {
  width: 300px;
  height: 310px;
  right: 30%;
  bottom: -35%;
  animation: wobble 9s ease-in-out alternate infinite, blob-two ease-in-out 28s infinite;
}

.blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 34%;
  animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
}

.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 22s infinite;
}

.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 6s ease-in-out alternate infinite, blob-four ease-in-out 25s infinite;
}

.blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;
  animation: wobble 8s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
}

.blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 34%;
  animation: wobble 8s ease-in-out alternate infinite, blob-six ease-in-out 12s infinite;
}

.blob:nth-child(7) {
  width: 435px;
  height: 435px;
  bottom: -45%;
  right: 40%;
  animation: wobble 13s ease-in-out alternate infinite, blob-seven ease-in-out 42s infinite;
}

@keyframes blob-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-420%);
  }
}

@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-305%);
  }
}

@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-605%);
  }
}

@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-1200%);
  }
}

@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-300%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}

.custom-shape-divider-bottom-1624272282 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624272282 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1624272282 .shape-fill {
  fill: lightgray;
  opacity: 80%;
}

.custom-shape-divider-top-1624273175 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1624273175 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1624273175 .shape-fill {
  fill: lightgray;
  opacity: 80%;
}

html {
  scroll-behavior: smooth;
}

.body-wrapper {
  font-family: "ubuntu", sans-serif;
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

.background {
  background-image: repeating-linear-gradient(45deg, rgba(161, 161, 161, 0.05) 0px, rgba(161, 161, 161, 0.05) 1px, transparent 1px, transparent 11px, rgba(161, 161, 161, 0.05) 11px, rgba(161, 161, 161, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, rgba(161, 161, 161, 0.05) 0px, rgba(161, 161, 161, 0.05) 1px, transparent 1px, transparent 11px, rgba(161, 161, 161, 0.05) 11px, rgba(161, 161, 161, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, rgba(161, 161, 161, 0.05) 0px, rgba(161, 161, 161, 0.05) 1px, transparent 1px, transparent 11px, rgba(161, 161, 161, 0.05) 11px, rgba(161, 161, 161, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, rgba(161, 161, 161, 0.05) 0px, rgba(161, 161, 161, 0.05) 1px, transparent 1px, transparent 11px, rgba(161, 161, 161, 0.05) 11px, rgba(161, 161, 161, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(180deg, rgba(17, 17, 17, 0.9) 90%, rgba(25, 135, 85, 0.9) 100%);
  position: fixed !important;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navbar {
  font-size: 1.5rem;
}

.title {
  border: none;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 0;
  height: 100vh;
}

.title-header {
  line-height: 1;
  font-size: 4rem;
  margin: 25vh auto 1rem;
  text-shadow: 1px 1px black;
}

.title-subheader {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  text-decoration: overline #198754;
  color: #198754;
  text-shadow: 1px 1px black;
}

.title-icon {
  color: #198754;
  font-size: 2rem;
  padding: 1rem;
  text-shadow: 1px 1px black;
}

.title-icon:hover {
  color: #ffff;
  opacity: 50%;
  /* font-size: 2.1rem; */
}

.about {
  background-color: rgba(211, 211, 211, 0.8);
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  height: auto;
  padding: 5% 10%;
  width: 100vw;
}

.about-bio {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  font-size: 1.2rem;
  margin: 5% 0;
  padding: 0;
  position: relative;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.about-bio-text {
  border-left: 1px solid black;
  margin: 5%;
  padding: 5%;
}

.about-bio-cover {
  align-items: center;
  background-color: white;
  border-left: 2px solid black;
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  padding: 0;
  position: absolute;
  text-decoration: 2px underline;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.about-bio-cover-header {
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}

.about-bio-cover:hover {
  opacity: 0%;
  transition: 0.3s;
}

.about-skills {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  display: flex;
  height: auto;
  margin: 5% auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.about-skills-cover {
  align-items: center;
  background-color: white;
  border-left: 2px solid black;
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  padding: 0;
  position: absolute;
  text-decoration: 2px underline;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.about-skills-cover-header {
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}

.about-skills-grid {
  align-content: space-between;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  padding: 5% 0;
  height: 200px;
}

.about-skills-grid-item {
  flex: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 10px;
}

.about-skills-cover:hover {
  opacity: 0%;
  transition: 0.3s;
}

.about-devskills {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  display: flex;
  height: auto;
  margin: 5% auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.about-devskills-cover {
  align-items: center;
  background-color: white;
  border-left: 2px solid black;
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  padding: 0;
  position: absolute;
  text-decoration: 2px underline;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.about-devskills-cover-header {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.about-devskills-grid {
  align-content: space-between;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  padding: 5% 0;
  height: 100px;
}

.about-devskills-grid-item {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 10px;
}

.about-devskills-cover:hover {
  opacity: 0%;
  transition: 0.3s;
}

.about--green {
  text-decoration: underline lightgreen;
}

.about--orange {
  text-decoration: underline lightsalmon;
}

.contact {
  padding: 10% 0;
  text-align: center;
}

.contact-icon {
  color: #198754;
  font-size: 2rem;
  padding: 1rem;
  text-shadow: 1px 1px black;
}

.contact-icon:hover {
  color: #ffff;
  opacity: 50%;
}

@media (max-width: 481px) {
  .body-wrapper {
    margin: 0 0;
  }
  .about {
    margin: 0 auto;
    padding: 5%;
  }
  .about-skills-grid-item {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */