// ---imports---
@import 'variables';
@import 'small-view';
@import 'lava-lamp';
@import 'svg';
// @import 'bootstrap';

html {
   scroll-behavior: smooth;
}

.body-wrapper {
   font-family: 'Ubuntu', sans-serif;
   margin: 0;
   overflow-x: hidden;
   text-align: center;
}

.background {
   background: linear-gradient(142deg, rgba(103, 103, 103, 1) 40%, rgba(25, 135, 84, 1) 100%, rgba(11, 201, 239, 1) 100%, rgba(0, 212, 255, 1) 100%);
   background-image: repeating-linear-gradient(45deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(0deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(135deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), repeating-linear-gradient(90deg, hsla(207, 0%, 63%, 0.05) 0px, hsla(207, 0%, 63%, 0.05) 1px, transparent 1px, transparent 11px, hsla(207, 0%, 63%, 0.05) 11px, hsla(207, 0%, 63%, 0.05) 12px, transparent 12px, transparent 32px), linear-gradient(90deg, rgb(17, 17, 17), rgb(66, 66, 66));
   position: fixed !important;
   height: 100%;
   width: 100%;
   z-index: -1;
}

// ---nav---
#navbar {
   font-size: 1.5rem;
}

//---title---
.title {
   border: none;
   border-radius: 0 0 20px 20px;
   text-align: center;
   padding: 0;
   height: 100vh;


   &-header {
      line-height: 1;
      font-size: 4rem;
      margin: 25vh auto 1rem;

   }

   &-sub-header {
      font-family: 'Raleway', sans-serif;
      line-height: 1.5;
      text-decoration: overline $green;
      color: $green;
   }

   &-link-icon {
      color: $green;
      font-size: 2rem;
      padding: 1rem;
   }


   &-link-icon:hover {
      color: $green;
      opacity: 90%;
      text-shadow: 2px 2px black;
      /* font-size: 2.1rem; */
   }


}



//---about-me---

.about {
   background-color: rgba(211, 211, 211, 0.350);
   height: 200vh;
   padding: 5rem;
   position: relative;
   width: 100vw;

   &-bio {
      font-size: 2rem;
      text-align: left;
      opacity: 100%;
   }

   &-skills {
      background-color: rgba(255, 255, 255, 0.75);
      font-size: 1.5rem;
      opacity: 100%;
      padding: 5%;
      text-align: left;
      width: 45%;

      &-table {
         text-align: left;
         margin: 1rem;

         &-table-cell {
            padding: 1rem;
         }

         &--green {
            text-decoration: underline lightgreen;
         }

         &--orange {
            text-decoration: underline lightsalmon;
         }

      }
   }
}
//---contact---


.contact {
   border-radius: 20px 20px 0 0;
   padding: 1rem 2rem;
   text-align: center;


}





// phone view