/* Element Selectors */
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 5%;
  text-align: center;
}

h1 {
  line-height: 1;
  font-size: 4rem;
  margin-bottom: 2rem
}

h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

h4 {
  line-height: 1.5;
  padding: 1rem
}

p {
  font-weight: 400;
  line-height: 1.5;
}

li {
  font-family: 'raleway'sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

/* Navbar */
#navbar {
  /* text-align: center; */
}

/* Title */
#title {
  border: none;
  border-radius: 0 0 20px 20px;
  text-align: center;
  padding: 5% 10% 0;
  margin-bottom: 5%;
}

.title-box {
  margin: auto;
  /* width: 75%; */
}

.title-content {
  padding: 1rem 0;
}

.link-icon {
  color: rgb(25, 135, 84);
  font-size: 2rem;
  padding: 1rem;
}

.link-icon:hover {
  color: rgba(25, 135, 84, 0.9);
  text-shadow: 3px 3px black;
  /* font-size: 2.1rem; */
}

.linkedin-icon {
  color: rgb(25, 135, 84);
  font-size: 2rem;
  padding: 1rem;
}

.linkedin-icon:hover {
  color: rgba(25, 135, 84, 0.9);
  text-shadow: 3px 3px black;
  /* font-size: 2.1rem; */
}

.title-subtext {
  text-decoration: overline;
}

.profile-image-box {
  margin: auto;
  padding: 1rem;
}

.title-image {
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 3px 3px black;
}

.bio {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: auto;
  padding: 3rem;
  width: 100%;
}

/* Carousel of Skills */
.carousel-item {
  height: 150px;
  padding: 0;
  text-align: center;
}

/* skills */
#skills {
  text-align: center;
}

.skills-quote {
  margin: 7% 15% 0;
}

.feature-box {
  padding: 2rem 2rem;
  text-align: center;
  margin: 0 auto;
}

.feature-content {
  background-color: rgba(33, 37, 41, 0.1);
  border: 2px solid rgba(25, 135, 84, 0.4);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(33, 37, 41, 0.5);
  height: 100%;
  padding: 1rem;
}

.feature-content:hover {
  border: 2px solid rgba(25, 135, 84, 0.75);
  box-shadow: 3px 3px rgba(33, 37, 41, 0.8);
}

.feature-heading {
  text-decoration: underline;
  padding-bottom: 1.5rem;
}

.feature-list {
  font-size: 1.2rem;
  text-align: left;
}

/* projects */
#projects {
  text-align: center;
  padding: 7% 15%
}

.project-feature {
  border: 2px solid rgba(25, 135, 84, 0.4);
  border-radius: 10px;
  box-shadow: 3px 3px rgba(33, 37, 41, 0.5);
  height: 100%;
  padding: 1rem;
}

/* Contact-me */
#contact {
  border-radius: 20px 20px 0 0;
  padding: 3% 5% 0;
  text-align: center;
}

.contact-form {
  text-align: center;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }

  .carousel-item {
    height: 200px;
  }
}